<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Manga</h1>
        <h3><a href="/lista">Voltar para a lista</a></h3>
        <div th:each="manga : ${manga}">
            <div class="row">
                <p>Título: <span th:text="${manga.title}"></span></p>
                <p>Autor: <span th:text="${manga.author}"></span></p>
                <p>Data publicação: <span th:text="${manga.publicationDate}"></span></p>
                <p>Número capítulos: <span th:text="${manga.numChapter}"></span></p>
            </div>

        </div>
    </body>
</html>
