<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Mangás</title>
</head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <h2 class="navbar-brand">Lista de Mangás</h2>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="btn btn-lg btn-primary btn-block" onclick="location.href = 'addManga';">Adicionar Mangá</button>
                    </div>
                </div>
            </nav>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Título</th>
                        <th>Capítulos</th>
                        <th>Autor</th>
                        <th>Data de Publicação</th>
                    </tr>
                    </thead>
                    <tbody id="table_body">
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>