<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Registro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
    <body>
        <div class="container">
            <form th:action="@{/registrationSuccess}" th:object="${user}" method="POST" class="form-register" enctype="utf8">
                <h2 class="form-register-heading">Registro</h2>
                <label for="inputUserName" class="sr-only">Nome de Usuário</label>
                <input type="text" id="inputUserName" class="form-control" placeholder="Nome de Usuário" th:field="*{username}" required autofocus>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" th:field="*{email}" required>
                <label for="inputPassword" class="sr-only">Senha</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Senha" th:field="*{passwd}" required>
                <label for="inputPassword" class="sr-only">Confirmar Senha</label>
                <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Confirmar Senha" required>
                <div class="text-center">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="location.href = 'lista'">Registrar</button>
                </div>
            </form>
            <div class="text-center">
                <p class="form-register-heading" id="possuiConta_text">Já possui uma conta?</p>
                <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="location.href = 'login';">Login</button>
            </div>
        </div>

    </body>
</html>
